<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Basketball Team! </h1>
    <h2>Team Name: <%= @name %></h2>
    <b>Coach: <%= @coach %></b>
    <b>Point Guard: <%=@pg %></b>
    <b>Power Forward: <%=@pf %></b>
    <b>Shooting Guard: <%=@sg %></b>
    <b>Small Forward: <%=@sf %></b>
    <b>Center: <%=@c %></b>
 </body>
</html>


