<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Team Name: <%= @name %></title>
 </head>
 <body>
  <h1>Coach: <%= @coach %></h1>
    <h2>
    Point Guard: <%=@pg %><br>
    Power Forward: <%=@pf %><br>
    Shooting Guard: <%=@sg %><br>
    Small Forward: <%=@sf %><br>
    Center: <%=@c %>
    </h2>
 </body>
</html>


